$color: rgb(89, 77, 77);
$a: 500;
$fw:100+$a;
$fs:100px+$a;

@mixin Test{
    @content;
    font-size: 100px;
    background: wheat;
}
.cha{
   
    color: $color;
    font-size: $fs;
    font-weight: $fw;
    background: #000;
    @include Test(){};
    &_con{
        background-color: white;
        $color1: aqua;
        $font-size: 200px;
        color: blue;
        font-size: $font-size;
        &-chau{
            color: $color1;
            font-size: 30px;
        }
    }
}


.me{
    @extend .cha;
}
